@model IEnumerable<Firma.Data.Data.CMS.Aktualnosc>






    @*<div class="col s4 ">
            <div class="card">
                <div class="card-image">
                    <img src="https://ecsmedia.pl/c/pozniej-b-iext68952603.jpg">
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a class="black-text button__p default">Dodaj do koszyka</a>
                </div>
            </div>
        </div>
        <div class="col s4 ">
            <div class="card ">
                <div class="card-image">
                    <img src="https://ecsmedia.pl/c/pozniej-b-iext68952603.jpg">
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
                <div class="card-action center-align">
                    <a class="black-text button__p default">Dodaj do koszyka</a>
                </div>
            </div>
        </div>*@




