@model IEnumerable<Firma.Data.Data.Sklep.Produkt>

@*TO NIE DZIALA!!!!!*@

<h3 class="center">Nasze ostatnie publikacje!!!</h3>
@{
    var rowSize = 3;
    var rowCount = Model.Count() / rowSize;
}
@for (var i = 0; i < rowCount; i++)
{
    <div class="row" style="display:flex; margin-right:300px">

        @foreach (var item in Model.Skip(i*rowSize).Take(rowSize))
        {
            <div class="col s3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="https://ecsmedia.pl/c/pozniej-b-iext68952603.jpg">
                    </div>
                    <div class="card-content">
                        <p>
                            @item.Opis
                        </p>
                        <br /><br />
                        <div class="center-align">
                            <a class="black-text button__p default">Dodaj</a>
                        </div>
                        <br />
                    </div>

                </div>
            </div>
        }
    </div>
}