@model IEnumerable<Firma.Data.Data.Sklep.Produkt2>

<h3 class="center">Ostatnio dodane książki</h3>
@{
    var rowSize = 6;
    var rowCount = (Model.Count() / rowSize);
    // poniżej podział wszytskich produktów na wiersze
    //   if ((Model.Count() / rowSize) % rowSize != 0)
    //       rowCount = rowCount + 1;



    //style="width:240px; height:310px"
}



@for (var i = 0; i < 1; i++)
{
<div class="row g-0">

    @*@foreach (var item in Model.Skip(i * rowSize).Take(rowSize))*@

        @foreach (var item in Model.TakeLast(6))
        {
            <div class="col s12 m2">
                <div class="card medium">
                    <div class="card-image">
                        <img src=@item.FotoURL>
                    </div>
                    <div class="card-content">
                        <p>
                            @item.Tytul
                        </p>
                        <p>
                            @item.Autor
                        </p>
                        <div class=" card-action center-align">
                            <a class="btn pink darken-1" asp-action="Szczegoly" asp-route-id="@item.IdProduktu2">
                            Szczegóły</a>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        }
</div>
}