@{
    ViewData["Title"] = "Kontakt";
}

<h1 class="center orange-text">
    Kontakt
</h1>
<div class="row center">
   Adres: Zielona 27,<br> Nowy Sącz 33-300
</div>
<div class="row center">
    Telefon: 123
</div>
