@model IEnumerable<Firma.Data.Data.Sklep.Produkt2>
@{
    ViewData["Title"] = "Sklep";
    Layout = "~/Views/Shared/_sklepLayout.cshtml";
}

<div style="margin-top:60px">

    <table>
        <tbody>
            @foreach (var towar in Model)
            {
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src=@towar.FotoURL alt="" class="circle">
                        <p>
                            @towar.Tytul <br>
                            @towar.Autor <br>
                            @towar.Wydawnictwo <br>

                        </p>
                        <a asp-action="Szczegoly" asp-route-id="@towar.IdProduktu2" class="secondary-content">
                            <i class="btn pink darken-1">Szczegóły</i>
                        </a>
                    </li>
                </ul>
            }
        <tbody>
    <table>


</div>